 /*-------------------------
 Header & Nav-bar start
 ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background-color: #FFFFFF;
}
.title-head{
    font-size: 25px;
    color: #3A3A3A;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.nav-bar{
    display: flex;
}
.nav-bar li{
    list-style: none;
    margin: 10px;
}
.nav-bar li a{
   text-decoration: none;
   color: black;
   font-weight: 500;
   padding: 12px 8px;
}
/*-------------------------
    Header & Nav-bar end
--------------------------- */



/* -------------------------
Main-Camera style start
---------------------------- */
.all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.camera-text-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
}
.camera-title{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 41px;
        color: #3A3A3A;
        line-height: 65px;
}
.feature-title{
        font-weight: 700;
        font-size: 35px;
        color: #3A3A3A;
        line-height: 65px;
}
.camera-text-left p{
        font-weight: 600;
        font-size: 14px;
        color: #3A3A3A;
        line-height: 24px;
        margin: 20px 0;
}
.first-button{
    border: 0;
    padding: 0px 16px;
    border-radius: 41px;
    font-size: 13px;
    background-color: #FF008E;
    color:#FFFFFF;
    cursor: pointer;
    position: relative;
}
.first-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #a5075e;
}
.three-button{
            color: white;
            background-color: #FF008E;
            border: none;
            padding: 2px 10px;
            border-radius: 10px;
            cursor: pointer;
}
.fas{
    padding: 8px;
}
.camera-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(logos/images.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 85%;
}
.camera-right img{
        width: 75%;
        margin: 45px;
}
.feature-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-right img{
      width: 320px;
      height: 210px;
        border-radius: 7px;
       box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.20);
}
.camera-right:hover img{
    cursor: pointer;
    transform: scale(1.5) rotateY(190deg);
    transition: transform 3s ease-in-out;
}
.logos{
    display: flex;
    justify-content: center;
    padding: 50px 15px;
    margin: 30px 15px;
    cursor: pointer;
}
.logos span{
   box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.20);
}
span img{
    padding: 0 28px;
}

/* Popular collection */

.collection-name{
        text-align: center;
        padding: 25px;
}
.collection{
    width: 245px;
    height: 370px;
    margin: 30px 30px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.20);
    border-radius: 7px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 70px 1px;
}
.collection .collection-banner img{
    width: 246px;
    height: 200px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0 auto;
}
.collection-info{
    padding: 0px 10px;
}
.collection-details{
        line-height: 28px;
        font-size: 13px;
}
.collection-info{
    justify-content: center;
}
.dolar span{
    line-height: 41px;
}
.fa-star{
    font-size: 8px;
    margin: 0;
    padding: 0;
}
.fa-star.filled{
    color:#FB8200; 
}
.fa-star.empty{
    color: #AEAEAE;
}
.second-button p{
    text-align:end;
    color: #FF008E;
    margin-right: 25px;
    font-size: 14px;
}
/* footer style */
footer{
    background-color: #0A0826;;
    text-align: center;
}
.footer-content{
    padding: 9px;
    line-height: 28px;
}
.footer-content h2{
    color: #FFFFFF;
}
.footer-content p{
    color: #D9DBE1;
    font-size: 13px;
}
.socials{
       display: flex;
       justify-content:center;
       color: #FFFFFF;
       font-size: 13px;
}
.socials li{
    list-style: none;
    padding: 0px 10px;
}
/* navbar */
    #nav-toggler{
        display: none;
    }
    .nav-toggler-icon{
        display: none;
    }
/* responsive */
@media (max-width:950px){
     .collections{
        grid-template-columns: 1fr 1fr;
    }
      .camera-text-left h1{
        font-size: 35px;
    }
    .camera-right{
        background-size: 54%;
        background-position: center;
    }

@media (max-width:800px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   .main{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .title-head h1{
        text-align: center;
    }
    .collection-banner{
        text-align: center;
    }
    .camera-right{
        background-size: 54%;
        background-position: center;
    }
    .collection-banner img{
        max-width: 350px;
    }
    .camera-right img{
        max-width: 350px;
    }
    .feature-right img{
        max-width: 350px;
    }
    .collections{
        grid-template-columns: 1fr;
    }
    .camera-text-left{
        order: 2;
        padding: 4px;
        margin: 0px 60px;
        text-align: center;
    }
    .camera-text-left button{
       padding: 0px;
        margin-left: 20%;
    }
    .nav-toggler-icon{
        display: block;
    }
    .nav-bar{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: right;
        padding: 25px 0;
        transform: translateY(-330px);
        transition: .5s ease-in-out;
        }
        .nav-bar li a{
            color: #FF008E;
        }
        #nav-toggler:checked ~ .nav-bar{
            transform: translateY(0px);
        }
}